.cards {
  display: flex;
  margin-top: 2rem;
  place-items: center;
}
.single_card {
  border-radius: 1rem;
  color: #a1a1aa;
}
.small {
  height: 11rem;
  transition: width 1s, height 1s;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 4rem;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  color: black;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: right;
}

.large {
  isolation: isolate;
  width: 25rem;
  height: 15rem;
  transition: width 1s, height 1s;
  margin: 1rem auto;
}

.modalOff {
  width: 16rem;
  height: 18rem;
  transition: background-color 1s;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  border-radius: 1rem;
  padding: 1.5rem;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
}

.modalOn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #00000088;
  transition: background-color 1s;
}

.single_card:not(:first-child) {
  margin-left: -1rem;
}

.single_card .modalOff:hover {
  transform: translateY(-2rem);
  transition: 0.4s ease-out;
}

.single_card:hover ~ .single_card {
  left: 2rem;
  transition: 0.4s ease-out;
}
.card_text p:hover {
  color: #e84a4a;
}
.card_text h3:hover {
  color: #e84a4a;
}
.card_text h3 {
  font-size: 1.3rem;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  padding: 0 8px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-74:hover {
  background-color: #fff;
}
.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
