.compare_cities{
    display: flex;
}
.cities_header{
    margin:auto;
    margin-bottom:2rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'PT Mono', monospace;
    font-family: 'Righteous', cursive;
    font-family: 'Russo One', sans-serif;
}
.compare_cards{
    display:flex;
    justify-content: center; 
}