
.compare_cities {
  display: flex;
}
.header_page {
  margin: 1rem auto 0 auto;
}
.compare_cards {
  display: flex;
  margin: 0 auto 0 auto;
  margin-left: 14%;
}
.favorite_cards {
  flex-wrap: wrap;
  gap: 2rem;
}
