.top_row {
  display: flex;
}
.title_page {
  margin: 1rem auto 0 auto;
}
.title_header {
  /* font-family: "Kanit", sans-serif;
    font-family: "Prompt", sans-serif;
    font-family: "Righteous", cursive;
    font-family: "Russo One", sans-serif; */
  font-stretch: ultra-expanded;
  font-size: 2rem;
  color: #282c34;
}
.search_bar {
  position: relative;
  display: flex;
  margin: 1rem auto 0 auto;
  width: min-content;
}
.search {
  border-radius: 25px;
  width: 550px;
  height: 35px;
  border: 2px solid;
  font-size: 16px;
  background-color: white;
  padding: 2px 40px 2px 10px;
}
.search_button {
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  color: #f2f2f2;
  padding: 7px 10px;
  font-size: 12px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  position: absolute;
  width: 40px;
  height: 100%;
  top: 0px;
  right: 0px;
}
.search_button:hover {
  background: #e84a4a;
  color: black;
}
.card_lineup {
  display: flex;
  margin: 3rem auto 0 auto;
  margin-left: 14%;
}

.cards {
  flex-wrap: wrap;
  gap: 2rem;
}

.arrow_button {
  cursor: pointer;
  font-size: 100px;
  border: none;
  background: transparent;
}
.arrow_button:hover {
  color: #e84a4a;
}
