.locations_container {
  /* background-image:linear-gradient(#DBA45C, #E48C86, #000000); */
  background-attachment: fixed;
  height: 100%;
  margin-bottom:2rem;
}
.top_row {
  display: flex;
}
.title_page {
  margin: 1rem auto 0 auto;
}
.title_header {
  font-family: "Kanit", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Righteous", cursive;
  font-family: "Russo One", sans-serif;
  font-stretch: ultra-expanded;
  font-size: 2rem;
  color: #282c34;
}
.filter_button {
  background-color: #191919;
  align-items: center;
  border: 0 solid #e2e8f0;
  color: white;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 750;
  height: 1rem;
  line-height: 15px;
  padding: 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.filter_button:hover {
  color: #e84a4a;
}
._filter {
  overflow: hidden;
  background-color: #333;
}

.drop_down {
  float: right;
  overflow: hidden;
  height:3rem;
}

._filter .drop_down {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 0.1rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

._filter a:hover,
.drop_down:hover .filter_button {
  background-color: red;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

._filter:hover .dropdown_content {
  display: block;
}

.search_bar {
  position: relative;
  display: flex;
  margin: 1rem auto 0 auto;
  width: min-content;
}
.search {
  border-radius: 25px;
  width: 550px;
  height: 35px;
  border: 2px solid;
  font-size: 16px;
  background-color: white;
  padding: 2px 40px 2px 10px;
}
.search_button {
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  color: #f2f2f2;
  padding: 7px 10px;
  font-size: 12px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  position: absolute;
  width: 40px;
  height: 100%;
  top: 0px;
  right: 0px;
}
.search_button:hover {
  background: #e84a4a;
  color: black;
}
.card_lineup {
  display: flex;
  margin: 3rem auto 0 auto;
  margin-left: 18%;
}
.arrow_button {
  cursor: pointer;
  font-size: 100px;
  border: none;
  background: transparent;
}
.arrow_button:hover {
  color: #e84a4a;
}
