.top_row {
  display: flex;
}
.title_page {
  margin: 1rem auto 0 auto;
}
.title_header {
  font-stretch: ultra-expanded;
  font-size: 2.5rem;
  color: #282c34;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #e84a4a;
}
.search_bar {
  position: relative;
  display: flex;
  margin: 4rem auto 0 auto;
  width: min-content;
}
.search {
  border-radius: 25px;
  width: 580px;
  height: 35px;
  border: 2px solid;
  font-size: 16px;
  background-color: white;
  padding: 2px 40px 2px 10px;
}

.card_lineup {
  display: flex;
  margin: 0 auto 0 auto;
  margin-left: 14%;
}

.cards {
  flex-wrap: wrap;
  gap: 2rem;
}


.blob__left {
  height: 35rem;
  width: 41rem;
  position: absolute;
  top: -18rem;
  left: -18rem;
  z-index: -1;
  background: linear-gradient(0.58turn, #a8504a, #c66e68, #e48c86);
  border-radius: 50%;
}
