
  .top_row {
    display: flex;
  }
  .title_page {
    margin: 1rem auto 0 auto;
  }
  .title_header {
    font-family: "Kanit", sans-serif;
    font-family: "Prompt", sans-serif;
    font-family: "Righteous", cursive;
    font-family: "Russo One", sans-serif;
    font-stretch: ultra-expanded;
    font-size: 2rem;
    color: #282c34;
  }
  .filter_button {
    background: linear-gradient(0deg, rgb(39, 40, 40) 0%, rgba(8, 1, 15, 0.5) 100%);
    align-items: center;
    border: 0 solid #e2e8f0;
    color: white;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 750;
    height: 1rem;
    line-height: 15px;
    padding: 1.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  ._filter {
    overflow: hidden;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  }
  
  .drop_down {
    float: right;
    overflow: hidden;
    height:3rem;
  }
  
  ._filter .drop_down {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0.1rem 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  ._filter a:hover,
  .drop_down:hover .filter_button {
    background-color: red;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown_content a {
    float: none;
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  
  ._filter:hover .dropdown_content {
    display: block;
  }


.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    border: inherit;
    border-top: none;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
   
    height: 100px;
}
.is-active .checkbox-dropdown-list {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
   
}

.checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}

  .search_bar {
    position: relative;
    display: flex;
    margin: 1rem auto 0 auto;
    width: min-content;
  }
  .search {
    border-radius: 25px;
    width: 550px;
    height: 35px;
    border: 2px solid;
    font-size: 16px;
    background-color: white;
    padding: 2px 40px 2px 10px;
  }
  .search_button {
    background-color: #282c34;
    background: linear-gradient(
      0deg,
      rgba(40, 44, 52, 1) 0%,
      rgba(17, 0, 32, 0.5) 100%
    );
    color: #f2f2f2;
    padding: 7px 10px;
    font-size: 12px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0px;
    right: 0px;
  }
  .search_button:hover {
    background: #e84a4a;
    color: black;
  }
  .card_lineup {
    display: flex;
    margin: 3rem auto 0 auto;
    margin-left: 18%;
  }
  .arrow_button {
    cursor: pointer;
    font-size: 100px;
    border: none;
    background: transparent;
  }
  .arrow_button:hover {
    color: #e84a4a;
  }