/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

li,
a {
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
}

.layout__container {
  background-color: #f6eee3;
}
