.login__container {
  height: 38rem;
  width: 33rem;
  margin: auto;
  margin-bottom: 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container > h1 {
  margin-bottom: 5rem;
}

.field {
  width: 28rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login__btn {
  margin: 1rem;
}

.field > input {
  border: none;
  text-decoration: underline;
  text-underline-offset: 6px;
}
